<div class="container">

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"> Menú</h2>
            <hr>
            
             <div>
               
               
               
               <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                
                            </tr>
                        </thead>
                 
                        <tbody>


                            <tr>                                
                                <td>
                                  <h2> Costillitas </h2>
                                  <!-- //---------------------- -->                                 
                                                <input ng-model="newComida.platillo" type="hidden" value="Costilitas">
                                                <input ng-model="newComida.precio" type="hidden" value="100">                                                
                                                <input ng-model="newComida.cantidad" type="hidden" value="1">                                                
                                                <input ng-model="newComida.selected" type="hidden" value=false>
                                                
                                  <!-- //---------------------- -->
                                  
                                  <br>
                                   <a href="">
                                    <img src="http://otrostyloparacocinar.files.wordpress.com/2012/10/costillitas-agri-31.jpg" alt="Smiley face" height="100" width="100"
                                         ng-click='agregar()'
                                    >        
                                   </a> 
                                  <br>
                                  <h3>$ 100 </h3>
                                </td>                                
                            </tr>                                
                            <tr>
                                <td>&nbsp;</td>                                
                            </tr>		  
                        </tbody>
                    </table>

               
               
              <table>
                <tr>                
                <td>Platillo</td>
                <td>Costo</td>
                </tr>
                <tr ng-repeat="plato in misComidas">
                  
                  
                                <td>{{plato.platillo}}</td>
                                <td>{{plato.cantidad}}</td>
                                <td>$ {{plato.precio}}</td> <!--Importe-->
                                <td>$ {{plato.importe}}</td>
                </tr>
              </table>
               
            </div>
          </div>
          
          <div class="col-md-6">
            <!-- <img class="img-responsive img-border-left" src="img/food.jpg"> -->
            
          </div>
          <div class="col-md-6">
         
 
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

  <!--   <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our <stro
                                      >Team</strong></h2>
            <hr>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="http://placehold.it/750x450">
              <h3>John Smith <small>Job Title</small></h3>
          </div> 
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="http://placehold.it/750x450">
              <h3>John Smith <small>Job Title</small></h3>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="http://placehold.it/750x450">
              <h3>John Smith <small>Job Title</small></h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div><!-- /.container -->
